%h1 Stock productivity calculator #{ link_to 'Enter new stock', new_capital_stock_path, class: 'btn btn-success', style: 'float:right'}



- unless @stocks.blank?
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Price
        %th Quantity
        %th Percentage
        %th Years
        %th
        %th
    %tbody
      - @stocks.each do |stock|
        %tr
          %td= link_to stock.name, capital_stock_path(stock)
          %td= stock.price
          %td= stock.quantity
          %td= stock.percentage
          %td= stock.years
          %td{style: 'width: 50px'}= link_to 'Edit', edit_capital_stock_path(stock), class:'btn btn-success'
          %td{style: 'width: 50px'}= link_to 'Delete', capital_stock_path(stock), class:'btn btn-danger', method: :delete
- else
  %h2 There are no saved stocks yet
